<!--The content below is only a placeholder and can be replaced.-->

<section class="center slider">
    <div>
      <div class="box-settings">
          <div class="background">
              <div class="line1"></div>
              <div class="line2"></div>
          </div>
    
          <h2>Get a device</h2>
          <h6>START HERE ></h6>
      </div>
  </div>
  <div>
      <div class="box-settings">
          <div class="background">
              <div class="line1"></div>
              <div class="line2"></div>
          </div>
    
          <h2>Mobile <br> internet</h2>
      </div> 
  </div>

  <div>
      <div class="box-settings">
          <div class="background">
              <div class="line1"></div>
              <div class="line2"></div>
          </div>
    
          <h2>Home <br> internet</h2>
      </div> 
  </div>


  <div>
    <!-- <img src="http://placehold.it/350x300?text=5"> -->
    <div class="box-settings">
      <div class="background">
          <div class="line1"></div>
          <div class="line2"></div>
      </div>

      <h2>Add a <br> phone-line</h2>
    </div>  
  </div>
  <div>
    <div class="box-settings">
        <div class="background">
            <div class="line1"></div>
            <div class="line2"></div>
        </div>
  
        <h2>Upgrade</h2>
    </div>
      
  </div>

  <div>
      <div class="box-settings">
          <div class="background">
              <div class="line1"></div>
              <div class="line2"></div>
          </div>
    
          <h2>Test <br> internet</h2>
      </div> 
  </div>

  <div>
      <div class="box-settings">
          <div class="background">
              <div class="line1"></div>
              <div class="line2"></div>
          </div>
    
          <h2>Demo <br> internet</h2>
      </div> 
  </div>

</section>


<router-outlet></router-outlet>
